<div class="row">
	<div class="col-sm-11 alert alert-success">

		<div class="row">
			<div class="col-sm-4">
				Mamy już:
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-5">
				<div class="licz-petycje" ng-bind-html="licznik.petycje.wyslane | to_trusted"></div><p>petycji wysłanych</p>
			</div>
			<div class="col-sm-5">
				<div class="licz-petycje" ng-bind-html="licznik.petycje.podpisane | to_trusted"></div><p>deklaracji podpisanych</p>
			</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js"></script>