
<div class="row">
	<div class="col-sm-6">
<!-- 		<ng-include src="'partials/petycja/selector.html'">
		</ng-include>

 		<ng-include src="'partials/petycja/search.html'">
		</ng-include> -->
	</div>
	<div class="col-sm-6">
<!-- 		<ng-include src="'partials/petycja/licznik.html'">
		</ng-include>
		-->
	</div>
</div>

<!-- <div class="row">
	<div class="col-sm-12">
		<br/>
	</div>
</div>
 -->
<div class="row">
	<div class="col-sm-5">
		<div class="table-top">
			<div class="top">
			<span>Lista kandydatów i kandydatek</span>
			<ng-include src="'partials/petycja/search.html'">
		</ng-include>
			</div>
			<div class="table">
			<table>
				<tr>
				<td>L.P</td>
				<td>Dane osobowe</td>
				<td>Komitet</td>
				<td>Województwo</td>
				<td>Wniosek</td>
				</tr>
			</table
			</div>
		</div>
		
		<div class='loader text-center' ng-show='show_loader'>
		</div>
		<div class="loader-in text-center" ng-show='show_loader'>
			Ładuje dane
		</div>
		 
		
		<ng-include src="'partials/petycja/odbiorcy.html'">
		</ng-include>
	</div>
		
	<div class="col-sm-1">
	</div>
		
	<div class="col-sm-6">
		<ng-include src="'partials/petycja/wniosek.html'">
		</ng-include></div>
	<div class="licznik"> <ng-include src="'partials/petycja/licznik.html'">
		</ng-include>
	</div>
</div>
	

<!-- <ANY ng-include="'partials/petycja/ludzie.html'">
</ANY>
 -->
