<link rel="stylesheet" href="css/czlowiek.css"/>

 <any ng-repeat="odbiorca in odbiorcy.wszyscy | filter:odbiorcy.search "> 
 
	<div class="row">
		<div class="col-xs-1">
			<input 
				ng-click='togglePersonOrg( odbiorca.id );'
				type="checkbox" 
				id="czlowiek-checkbox-{{odbiorca.id}}" 
				value="{{odbiorca.id}}" 
				ng-disabled='getOdbiorcaCheckboxStatus(odbiorca.wniosek_status);'>
<!-- 				ng-change=""
				ng-model='check' 
 -->				
	   	</div>
		
		<div class="col-xs-10 alert" ng-class='getOdbiorcaDivClass(odbiorca.wniosek_status)' role="alert" ng-click='togglePerson(odbiorca.id)'>
			<div class="row">
				<div class="lp">
					<label> 
						{{odbiorca.id}}
					</label>
				</div>
				<div class="col-xs-8">
					<label ng-disabled="true"> 
						{{odbiorca.imie}} {{odbiorca.nazwisko}} 
					</label>
					<label style="font-weight:normal; font-size: 80%;">  
						<a ng-click='$event.stopPropagation();' target="_blank" href="{{getOdbiorcaFacebookLink( odbiorca.facebook);}}" ng-hide="getOdbiocaFacebookHide(odbiorca.facebook);">
							<img class='media-btn' ng-src='img/{{getOdbiorcaFacebookImg( odbiorca.facebook);}}'/>
						</a>
						<a ng-click='$event.stopPropagation();' target="_blank" href="{{getOdbiorcaTwitterLink( odbiorca.twitter);}}"  ng-hide="getOdbiocaTwitterHide(odbiorca.twitter);">
							<img class='media-btn' ng-src='img/{{getOdbiorcaTwitterImg( odbiorca.twitter);}}'/>
						</a>
						{{getOdbiorcaTwitter( odbiorca.twitter);}} 
					</label>
				</div>
				<!--<div class="col-xs-4">
					<label style="font-weight:normal; font-size: 80%;">  
						<a ng-click='$event.stopPropagation();' target="_blank" href="{{getOdbiorcaFacebookLink( odbiorca.facebook);}}" ng-hide="getOdbiocaFacebookHide(odbiorca.facebook);">
							<img class='media-btn' ng-src='img/{{getOdbiorcaFacebookImg( odbiorca.facebook);}}'/>
						</a>
						<a ng-click='$event.stopPropagation();' target="_blank" href="{{getOdbiorcaTwitterLink( odbiorca.twitter);}}"  ng-hide="getOdbiocaTwitterHide(odbiorca.twitter);">
							<img class='media-btn' ng-src='img/{{getOdbiorcaTwitterImg( odbiorca.twitter);}}'/>
						</a>
						{{getOdbiorcaTwitter( odbiorca.twitter);}} 
					</label>
				</div> -->
				<div class="col-xs-12">
					<label class="odbiorca-extra-info">
						 {{odbiorca.organizacja}} 
					</label>
				</div>
				<div class="col-xs-12">
					<label class="odbiorca-extra-info">
						 {{odbiorca.miasto}}  ({{odbiorca.wojewodztwo}})
					</label>
				</div>
				<div class="col-xs-12">
					<!--<input 
				ng-click='togglePersonOrg( odbiorca.id );'
				type="checkbox" 
				id="czlowiekCheckbox{{odbiorca.id}}" 
				value="{{odbiorca.id}}" 
				ng-disabled='getOdbiorcaCheckboxStatus(odbiorca.wniosek_status);'>-->
				
				<button class="uncheckedbtn" onclick="checkBox(this);" ng-click='togglePersonOrg( odbiorca.id );'
				id="czlowiekCheckbox{{odbiorca.id}}" 
				value="" 
				ng-hide='getOdbiorcaCheckboxStatus(odbiorca.wniosek_status);'></button>
					<!--<label class="odbiorca-extra-info">
						Wniosek: {{getOdbiorcaStatus(odbiorca.wniosek_status);}}
					</label>-->
				</div>
			</div>
		</div>
	</div>
<!-- 	<label cclass="czlowiek-dane">
	</label>
 -->	
	<!--
	<div class="row" >
		<div class="col-xs-1">
	   	</div>
		
		<div class="col-xs-10">
	    	<label style="font-weight: normal" ng-click='togglePerson(czlowiek.id)'>{{czlowiek.organizacja}}</label>
		</div>
	</div>

	<div class="row line">
		<div class="col-lg-12">
	   </div>
	</div>	  
-->
</any>
