<p>[Szanowna Pani/Szanowny Panie],</p>
<p>Cieszę się, że [zdecydowała się Pani/zdecydował się Pan] kandydować na stanowisko Prezydenta Miasta.</p> 
<p>Zastanawiam się, na którą z kandydujących osób mam zagłosować. Chcę, żeby ta, która zostanie wybrana na urząd prezydenta, była otwarta na mieszkańców – na ich pytania, oczekiwania i potrzeby. Kiedy będę dokonywać wyboru, zwrócę uwagę na to, jakie są plany kandydatów dotyczące jawności wydawania publicznych pieniędzy oraz czy wyrażają gotowość do informowania, w jaki sposób realizują swoje zadania. Ponadto zależy mi na wyraźnej deklaracji dotyczącej niekoncentrowana pełni władzy w rękach jednej osoby.</p> 
<p>Dlatego zwracam się do [Pani/Pana] z prośbą o zadeklarowanie, czy w razie wygrania wyborów na Prezydenta Miasta, wprowadzi  [Pani/Pan] wskazane poniżej rozwiązania, które będą realną gwarancją  realizacji moich oczekiwań:</p>
<p>1. Jawne, dostępne w Biuletynie Informacji Publicznej, rejestry wszystkich umów zawieranych przez urząd. Rejestry powinny być dostępne w formacie możliwym do dalszego wykorzystywania oraz zawierać minimalnie informację o numerze umowy, kontrahencie, zakresie wykonywanego zadania, terminie obowiązywania umowy oraz kwocie.</p>
<p>2. Kalendarz dostępny w Biuletynie Informacji Publicznej, w formacie możliwym do dalszego wykorzystywania,  zawierający wszystkie  przeszłe, bieżące i planowane służbowe spotkania oraz wszelkie działania związane z wykonywaniem przez [Panią/Pana] funkcji publicznej.</p> 
<p>3. Obietnica niezatrudniania radnych w spółkach i instytucjach podległych prezydentowi miasta.</p>
<p>Takie zobowiązania zbierane są przez platformę wybory.siecobywatelska.pl. Wystarczy, że wyśle [Pani/Pan] informację na adres:  wybory@wiadomosci.siecobywatelska.pl wskazując wyraźnie, że podpisuje się [Pani/Pan] pod wszystkimi  zobowiązaniami.</p> 
<p>Proszę o wprowadzenie tych rozwiązań od samego początku kadencji. Jeśli to [Pani/Pan] wygra wybory, co roku w Dniu Samorządu Terytorialnego (27 maja), włączę się w akcję sprawdzania jak wywiązała się [Pani/Pan] z realizacji tej obietnicy.</p>
<p>Łączę wyrazy szacunku i – jeśli obieca  [Pani/Pan] i konsekwentnie będzie [realizowała/realizował] jawność – wygranej!</p>
<p>[imię i nazwisko]</p>
