<link rel="stylesheet" href="css/selector.css" />

<div class="row">
	<div class="toggle-search">
	<button type="button" class="btn btn-warning ng-binding" ng-click="search.toggle()">Filtruj</button><p class="btn-bg"></p>
	</div><div class="searchBtns" ng-show="search.shown">
	<div class="search-head">Filtrowanie wyników</div>
	<div class="col-sm-5">
	  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
	    Wybierz Wojewodztwa<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" style="width:100%">
		<li ng-repeat='woj in wojewodztwa'>
			<label class="partia-label" >
				<input  
					id='select-woj-{{woj.id}}' 
					ng-click='searchToggleWojewodztwo(woj.id, woj.nazwa)'
					name="woj" 
					type="radio" 
					value=""> {{woj.nazwa}}
			</label>
		</li>
	  </ul>
	</div>
	
	<div class="col-sm-4">
	  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
	    Wybierz miasto<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" style="width:100%">
		<li ng-repeat='miasto in miasta'>
			<label class="partia-label">
				<input 
					n1g-click='searchToggleMiasto(miasto.id)' 
					type="checkbox" 
					value=""> {{miasto.miasto}}
			</label>
		</li>
	  </ul>
	</div></div>
	
</div>


