<link rel="stylesheet" href="css/selector.css" />

<div class="btn-group btn-organizacje">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
    Wybierz ugrupowanie<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" style="width:100%">
	<li ng-repeat='org in organizacje'>
		<label class="partia-label"><input ng-click='searchOrgToggle(org.nazwa)' type="checkbox" value=""> {{org.nazwa}}</label>
	</li>
  </ul>
</div>

<script>

</script>