<link rel="stylesheet" href="css/wniosek.css" />

<!-- <h3>Twoje dane</h3>
 -->
<form class="form-horizontal" role="form">
	<div class="form-header">
		<h1>Wyślij petycję</h1>
		<p>Wybierz kandydatów z listy obok,<br> wypełnij petycję i wyślij ją.</p>
	</div>
    <div class="form-group">
    <div class="col-xs-11">
      <button type="button" class="btn btn-warning" ng-click='wniosek.toggle()'>{{wniosek.button}}</button>
	  <p class="btn-bg"></p>
    </div>
  </div>
  
  <div class="form-group" ng-show='wniosek.shown'>
    <div class="col-xs-11"> 
    	<p style="color: #877777; background-color: #f7f7f7; border-style: solid; border-color: #ccc; border-width:1px; padding:8px; border-radius: 5px"  ng-include src="'partials/petycja/Petycja_kandydatka_kandydat.html'">
    	</p>
    
    </div>
  </div>
    
  <div class="row form-group error">
    <div class="col-xs-6 col-sm-5">
      <input
      	required
      	type="text"
      	class="form-control {{wnImieCss()}}"
      	ng-model="imie"
      	ng-change="setFormImie(imie);"
      	placeholder="Imi&#281;">
	</div>
	
	<div class="col-xs-6 col-sm-6">
	  <input
      	required 
      	type="text" 
      	class="form-control {{wnNazwiskoCss()}}"
      	ng-model="nazwisko"
      	ng-change="setFormNazwisko(nazwisko);"
      	placeholder="Nazwisko">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-11">
      <input 
      	type="text" 
      	class="form-control {{wnEmailCss()}}"
      	ng-model="email"
      	ng-change="setFormEmail(email);"
      	placeholder="Email">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-11">
      <input 
      	type="text" 
      	class="form-control {{wnAdresCss()}}"
      	ng-model="adres"
      	ng-change="setFormAdres(adres);"
      	placeholder="Miejscowość">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-11" ng-click='toggleSaveSender();'>
      	<input ng-init="initSaveSenderCheckbox();" 
      		id="save-sender-checkbox" 
      		ng-click='toggleSaveSender();'
      		type="checkbox"> {{texts.dane_osobe_info}}
    </div>
  </div>
   
   <div class="form-group">
    <div class="col-sm-10" style="text-align:center;">
      <button type="submit" 
      	class="btn btn-lg btn-primary"
      	ng-disabled="!sendWniosekEnable()"
      	ng-click="sendWniosek()">
      	Wyślij petycję
      </button>
    </div>
  </div>
   
</form>


