
<div class="kontakt">
	<div class="info-media">
		
		<p>Działamy w Twojej sprawie</p>
		<h1>Dla mediów</h1>
		<h3>Jawność sprzyja każdej władzy.</h3>
		<p><span>Sieć Obywatelska Watchdog Polska proponuje obywatelską akcję zbierania zobowiązań kandydatek i kandydatów na prezydentów, burmistrzów i wójtów w wyborach samorządowych 2014 roku.</span> 
<span>Do czego warto zobowiązać kandydujące osoby?</span>
<b>Do publikowania na urzędowych stronach internetowych spisów wszystkich umów podpisanych przez urząd.</b> Co to daje wyborcy? Wiedząc co się dzieje, może na bieżąco podejmować dyskusję nad celowością wydatków i ma możliwość pokazywania tańszych, sprawdzonych i nowoczesnych rozwiązań. 
<br><br><b>Do udostępnienia w Internecie kalendarza,</b> co pozwoli na sprawdzenie, co robi osoba sprawująca urząd, kto ma do niej dostęp i jak często spotyka się z mieszkańcami. 
<br><br><b>Do jawnego zadeklarowania niepodejmowania prób uzależniania radnych.</b> Władza skupiona w rękach jednostki to często skuteczne, ale szkodliwe w dłuższej perspektywie, rozwiązanie. Konkurencja wyborcza, wiele patrzących oczu, dyskusja – to nowoczesne pomysły na poprawę jakości rządzenia. Prezydent i radni pochodzą z powszechnych wyborów. Ale to prezydent rozporządza pieniędzmi obywatelek i obywateli oraz określa, jakie zadania wykonuje urząd. Radni powinni brać na swoje barki część odpowiedzialności, ale nie mają tak szerokiego zaplecza zarówno finansowego, jak i osobowego. Tego łatwo nie zmienimy. Możemy jednak wpłynąć na prezydenta i zobowiązać go, żeby nie zatrudniał radnych w różnych spółkach i instytucjach mu podległych.
</p>
		<a href="http://siecobywatelska.pl/4,436,jawnosc_sprzyja_kazdej_wladzy__dla_mediow.html">Więcej materiałów</a>
	</div>
	
	<div class="osoba-kontakt">
		<h1>Osoba kontaktowa</h1>
		<div class="person">
			<img src="img/img5.png">
			<p class="name">Martyna Danielewicz</p>
			<p class="opis">Odpowiada za kontakt z mediami. Znajdzie<br> eksperta do skomentowania materiału,<br> przygotuje zestawienie
			danych i tekst<br> podsumowujący zainteresowanie<br> kandydatów. Zapraszamy.</p>
			<p class="tel">22 844 73 55</p>
			<p class="mail">martyna.danielewicz@siecobywatelska.pl</p>
		</div>
	</div>
</div>
