<div class="contact">
	
	<div class="contact-form">
	<p>Masz pytania lub wątpliwości?</p>
	<h1>Skontaktuj się z nami</h1>
	<!--Formularz kontaktowy
	<form>
		<input type="text" placeholder="Imię i nazwisko" name="imie">
		<input type="text" placeholder="E-mail" name="mail">
		<textarea placeholder="Wiadomość..." name="msg"></textarea>
		<input type="submit" value="Wyślij zapytanie">
	</form>-->
	<h4>Wszelkie pytania prosimy kierować na adres e-mail <b>biuro@siecobywatelska.pl</b></h4>
	<h4>Dodatkowe informacje kontaktowe znajdą państwo pod wskazanym <a href="http://siecobywatelska.pl/10,169,kontakt.html">linkiem</a>.</h4>
	</div>
	<div class="contact-info">
 		<p>Dane kontaktowe</p>
		<p><img src="img/watchdog_logo.png"/>ul. Ursynowska 22/2<br>02-605 Warszawa</p>
		<p>tel: 22 844 73 55<br>faks:22 207 24 09</p>
		<p>www.siecobywatelska.pl<br>www.watchdog.org.pl<br>www.funduszesoleckie.pl<br>www.informacjapubliczna.org.pl</p>
	</div>
</div>
