
<div class="row">
	<div class="col-sm-12 text-center">
		<iframe src="//www.youtube.com/embed/e2IuqxyUBoM" frameborder="1" allowfullscreen></iframe>
	</div>
</div>

<br/>
<div class="row text-center">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
	
		text texty text text texty text 
		text texty text text texty text 
		text texty text text texty text
		text texty text text texty text 
		text texty text text texty text 
		text texty text text texty text
		text texty text text texty text 
		text texty text text texty text 
		text texty text text texty text 
	</div>
	<div class="col-sm-2"></div>
</div>

<br/>