
<div class="onas">
	<div class="tacy-jestesmy">
		<p>Działamy w Twojej sprawie</p>
		<h1>Tacy jesteśmy.</h1>
		<p><b>Sieć Obywatelska Watchdog</b> Polska pilnuje, żeby ludzie wiedzieli, co robi władza. Uczymy mieszkańców, że mogą 
		pytać urzędy o to, dlaczego zlikwidowano szkołę, ile wydano na festyn czy gdzie planowana jest budowa wiatraków.<br>
		<span>Naciskamy na władze aby jawnie działały, zbieramy dane i promujemy kulturę jawności w życiu publicznym.</span>
		Byliśmy już w ponad 300 miejscowościach w całej Polsce na spotkaniach dotyczących jawności. W ciągu 12 miesięcy udzielamy ponad
		1000 porad, setki razy chodzimy do sądu. Dzięki temu sądy, coraz częściej wydają orzeczenia po stronie jawności, coraz więcej ludzi wie, że ma prawo pytać urzędy,
		te zaś wiedzą, że muszą odpowiadać.
		<span>Kampania "Jawność sprzyja każdej władzy" to nasza propozycja na wybory samorządowe 2014.</span></p>
	</div>
	
	<div class="mini-menu">
	<h2>Zobacz też</h2>
	<ul>
		<li><a href="http://siecobywatelska.pl/3,159,nasza_misja.html">Nasza misja</a></li>
		<li><a href="http://siecobywatelska.pl/3,165,nasze_programy.html">Nasze działania</a></li>
		<li><a href="http://siecobywatelska.pl/9,175,wspomoz_nas_finansowo.html">Wesprzyj nas</a></li>
	</ul>
	</div>
	
	<div class="poznaj-nas">
		<h1>Poznaj nas.</h1>
		<div class="person">
			<img src="img/img1.png">
			<p class="name">Agnieszka Zdanowicz</p>
			<p class="opis">
W kampanii przeprowadziła wstępny monitoring dostępu do informacji o zawieranych umowach i kalendarzach oraz przygotowała raport otwarcia. 
Jest dyrektorką Sieci Obywatelskiej Watchdog Polska.</p>
			<p class="tel">22 844 73 55</p>
			<p class="mail">agnieszka.zdanowicz@siecobywatelska.pl</p>
		</div>
		<div class="person">
			<img src="img/img2.png">
			<p class="name">Joanna Gucman-Muż</p>
			<p class="opis">W kampanii odpowiada za zarządzanie danymi i współpracę z partnerami. Na co dzień specjalizuje się
			w gromadzeniu informacji o organizacjach strażniczych i odpowiada za kontakty Sieci Obywatelskie Watchdog Polska z osobami indywidualnymi i organizacjami.</p>
			<p class="tel">22 844 73 55</p>
			<p class="mail">joanna.gucman@siecobywatelska.pl</p>
		</div>
		<div class="person">
			<img src="img/img3.png">
			<p class="name">Katarzyna Batko-Tołuć</p>
			<p class="opis">
Odpowiada za działanie i koncepcję kampanii. Jest dyrektorką programową Sieci Obywatelskiej Watchdog Polska.</p>
			<p class="tel">667 82 84 84</p>
			<p class="mail">katarzyna.batko@siecobywatelska.pl</p>
		</div>
		<div class="person">
			<img src="img/img4.png">
			<p class="name">Borys Bura</p>
			<p class="opis">Odpowiada za media społecznościowe i kampanię on-line. 
			Na co dzień jest koordynatorem komunikacji w Internecie w Sieci Obywatelskiej Watchdog Polska</p>
			<p class="tel">669 289 669</p>
			<p class="mail">borys.bura@siecobywatelska.pl</p>
		</div>
	</div>
</div>
