<div class="row">
	<div class="col-sm-11 alert alert-success">

		<div class="row">
			<div class="col-sm-4">
				Petycje
			</div>
			<p>Lista osób, które podpisały petycję:</p>
		</div>
		
		<div class="row">
			<div class="col-sm-12">
			<ol id="show-list">
				<li ng-repeat='p in petycja.podpisane'>
					<b>{{p.imie}} {{p.nazwisko}}</b><!--, {{p.organizacja}}, {{p.miasto}}-->
				</li>
				</ol>
				
			</div>
		</div>
		<div><a onclick="showList();">Pokaż wszystkich</a></div>
	</div>
</div>


