
<div class="kandyd">
	<div class="top">
	<div class="dlaczego-warto">
		<div>
		<p>Bo najważniejsze to działać jawnie</p>
		<h2>Dlaczego warto</h2>
		<p>Proponujemy, aby kandydatki i kandydaci na prezydentów, 
		burmistrzów i wójtów <a href="/tresc_zobowiazania.doc">zobowiązali się</a>, że jeśli wygrają wybory: </p>
		
		<p>będą publikować rejestry zawieranych umów w BIP - dzięki temu mieszkańcy będą mogli na bieżąco podejmować dyskusję nad celowością wydatków, 
pokazywać tańsze i sprawdzone rozwiązania oraz przyczyniać się do obniżenia kosztów.</p>
		<p>będą publikować w BIP swoje „kalendarze” - dzięki czemu mieszkańcom łatwiej będzie zrozumieć na czym polegają działania wójta, prezydenta burmistrza, 
		poczuć się częścią wspólnoty samorządowej i sformułować swoją ocenę czteroletniej kadencji w przyszłych wyborach.</p>
		<p>nie będą zatrudniać radnych w podległych im spółkach i instytucjach, aby nie uzależniać ich od siebie. Radni mają kontrolować władzę wykonawczą, 
		a nie być przez nią utrzymywani.</p>
		</div>
		<a class="sendMail" onclick="openContact();">Zgłoś kandydaturę</a>
	</div>
	
	<div class="jawnosc">
 	
 		<ng-include src="'partials/kandydat/jawnosc.html'">
		</ng-include></div></div>
	<div class="v-licz">
		<ng-include src="'partials/petycja/licznik.html'">
		</ng-include>
		</div>
	</div>
	
<div id="hideNshow" alt="hidd" onclick="openContact();"></div>
<div id="form-container">
<input placeholder="Imię i Nazwisko" ng-model="name">
<input placeholder="Email" ng-model="mail">
<textarea placeholder="Dane kandydata"  ng-model="msg"></textarea>
<button type="submit" ng-click="check_credentials()">Wyślij zgłoszenie</button>
<p id="ajax"></p>
</div>
