<div class="footer" style="">
<div class="support-us"><h1>Każda pomoc jest dla nas cenna.</h1><h1>Wesprzyj nas!</h1><a href="http://siecobywatelska.pl/9,175,wspomoz_nas_finansowo.html">Zobacz jakie to proste</a></div>
<div class="container">
	<div class="footer-box">
		<ul class="nav footer-nav">
				<li class="nav-btn"><a class="nav-btn" href="#/kandydat">Problem</a></li>
				<li><a class="nav-btn" href="#/petycja">Rozwiazanie</a></li>
				<li><a class="nav-btn" href="#/onas">O nas</a></li>
				<li><a class="nav-btn" href="#/media">Dla Mediow</a></li>
				<li><a class="nav-btn" href="#/kontakt">Kontakt</a></li>
			</ul>
	</div>
	<div class="footer-box">
		<p>Dane o kandydatach i kandytatkach zostały zebrane we współpracy z portalem</p>
		<img src="img/bg_foot_318x51.png"/>
	</div>
	<div class="footer-box">
		 <p>2014 Petycje</p>
		 <img src="img/watchdog_logo.png">
		 <p class="foot-cont">Sieć Obywatelska Watchdog Polska, ul. Ursynowska 22/2, 02-605 Warszawa, +48 22 844 73 55,</p>
	</div>
	</div>
</div>
<script>
document.getElementsByClassName("foot-cont")[0].innerHTML = document.getElementsByClassName("foot-cont")[0].innerHTML + " biuro" +"@"+"siecobywatelska.pl";
/*
	window.onload = function(){
	var hr = ""+window.location.href;
	if(hr.split("#/")[1] == undefined){document.getElementById("body").setAttribute("class", "home");}else{
	document.getElementById("body").setAttribute("class", hr.split("#/")[1]);}
	//var bb = document.getElementsByClassName("navbar-inverse")[0];
	//var aa = bb.getElementsByTagName("a");
	var aa = document.getElementsByClassName("nav-btn");
	alert(aa.length);
	for(var i=0; i<aa.length;i++){
	aa[i].addEventListener("click", clickme);
	
	if(hr.split("#/")[1] == aa[i].getAttribute("href").split("#/")[1]){aa[i].className += " clicked";}
		else if(hr.split("#/")[1] == undefined){if(aa[i].getAttribute("href").split("#/")[1]=="home"){
			aa[i].className += " clicked";}}}
		}}
	
	function clickme(){
	var bb = document.getElementsByClassName("nav-btn");
	//var aa = bb.getElementsByTagName("a");
		for(var i=0; i<bb.length;i++){
		bb[i].setAttribute("class", "nav-btn");
		if(this == bb[i]){}else{
		if(this.href.split("#/")[1] == bb[i].getAttribute('href').split("#/")[1]){
			bb[i].className += " clicked";}}
		}
	this.className += " clicked";
	document.getElementById("body").setAttribute("class", this.href.split("#/")[1]);
	//alert(x.getAttribute('href'));
	}*/
</script>
