
<div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-9">
		<h1>Jawność sprzyja każdej władzy.</h1>
		<br/>
	</div>
	<div class="col-sm-3">
	</div>
</div>

<div class="row" style="width: 100%">
	<div class="col-sm-6 text-center">
		<div>
		<h2>Wybierasz</h2>
		<p>dlatego możesz:</p>
		<p>Powiedzieć kandydatce/kandydatowi, że jawność jest dla Ciebie ważna.</p>
		<p>Wpłynąć na działania władzy po wyborach.</p>
		<p>Uzyskać konkretne zobowiązania osoby, która wygra wybory na prezydenta.</p>
		</div>
		<a href="#/petycja"
			type="button" class="btn btn-info">Wyślij petycję<img src="../../img/icon_send_17x17.png"/></a>
	</div>
	<div class="col-sm-6 text-center">
		<div>
		<h2>Kandydujesz</h2>
		<p>dlatego możesz:</p>
		<p>Pokazać, że będziesz działać jawnie po wyborach.</p>
		<p>Chcesz prowadzić dialog o tym, co dobre dla gminy.</p>
		<p>Będziesz pilnować dobrego wydawania miejskich pieniędzy.</p>
		</div>
		<a href="#/kandydat"
			type="button" class="btn btn-info">Zgłoś kandydaturę<img src="../../img/icon_can_15x16.png"/></a>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<br/><br/>
	</div>
</div>
	
