
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
	<a class="nav-btn "href="#/home"><img src="img/logo_petycje_143x64.png"/></a>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Petycje</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active.bak"><a class="nav-btn" href="#/kandydat">Problem</a></li>
				<li><a class="nav-btn" href="#/petycja">Rozwiązanie</a></li>
				<li><a class="nav-btn" href="#/onas">O nas</a></li>
				<li><a class="nav-btn"  href="#/media">Dla Mediow</a></li>
				<li><a class="nav-btn"  href="#/kontakt">Kontakt</a></li>
			</ul>
			<div class="fb-share-button" style="position:fixed; right: 15px; top: 15px;" 
				data-href="https://wybory.siecobywatelska.pl" 
				data-layout='button'></div>
			
		</div>
		<!--/.nav-collapse -->
	</div>
</div>

