/* app css stylesheet */

#body {
	background-color: transparent;
	padding-bottom: 30px;
}

.main {
	padding-top: 80px;
	padding-bottom: 40px;
}

.page {
	background-color: white;
	padding-top: 20px;
}



/* skasuj */
ul.dropdown-menu-form {
    padding: 5px 10px 0;
    max-height: 300px;
    overflow-y: scroll;
}

.footer {
	position: fixed; 
	bottom: 0px;
	background-color: black;
	width: 100%;
	height: 40px;
	padding-top: 10px;
	z-index: 100;
}

.footer-text {
	text-align: center;
	color: #BCBCBC;
	
}

.loader {
	padding:50px;
	background: #ffffff url("../img/loader.gif") no-repeat center bottom;
	width: 100%; 
	height: 130px; 
}

.loader-in {
	padding-top: 15px;
	width: 100%; 
	height: 100px; 
	font-size: 150%;
	font-weight: bold;
	color: #787878;
	background-color: white;
	
}
