.line {
	list-style: none;
	border-bottom-bak: 0.1em solid #f37021;
	margin: 0.6em 0 0.6em 0;
	padding: 0;
}

.czlowiek-dane {
	font-weight: bold;
}

.odbiorca-extra-info {
	font-weight: normal;
	font-size:90%;
}

.media-btn {
	 width: 20px; height: auto;
}

.label-org {
	font-weight: normal;
}