
.wn-error {
	-webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
	background: #ffedae;
}

.wn-ok {
	-webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
	background: #d4ffae;
}

.strike {
  text-decoration: line-through;
}
body.petycja{background:url('../img/bg_200x200nocolor.jpg');}
.petycja .main *{color:rgb('135,135,135');}
.petycja .page > .row > .col-sm-5 > .col-sm-6 {width:30%;}
.petycja .page > .row > .col-sm-6:last-child {}
.petycja .col-sm-6 {width:100%;}
.petycja .col-sm-5 {width:100%; padding-bottom:10px;}
form {background-image: url('../img/top_paper_370x171.png'), url('../img/bottom_paper_372x128.png'), url('../img/middle_paper_371x41.png');
background-position: left top, left bottom, left top;
background-repeat:no-repeat, no-repeat, repeat-y;
width:370px;
float:right;}
form::after {
width:210px;
height:450px;
    content: "";
    background:url('../img/cloud3_162x100.png'), url('../img/man2_187x516.png');
	background-repeat:no-repeat;
	background-size:162px 100px, contain;
	background-position: top right, top left;
    position: absolute;
	top:50px;
	right:-150px;
    z-index: 10;
}
.petycja .col-sm-6 form.form-horizontal .form-group {width:75%; margin-right:0px; margin-left:0px }
.petycja .col-sm-6 form.form-horizontal .form-group > * {display:block; width:100%;}
.petycja form.form-horizontal .form-header h1 {color:rgb(37,127,239); margin-bottom:15px;}
.petycja form.form-horizontal .form-header {width:75%; margin-left:35px; background: url('../img/icon_send_32x31.png') no-repeat top right;}
.petycja form.form-horizontal .form-header p {font-size:13px; line-height:12px;}
.petycja form.form-horizontal .form-group > * {margin-left:35px; padding-left:0px; padding-right:0px;}
.petycja form.form-horizontal .form-group .col-xs-11 button.btn {padding-top:0px;padding-bottom:0px; height:24px; float:right; 
background-color:transparent !important;
background-image:url('');
font-size:13px; font-weight:bold; text-shadow:none; color:#000;padding-right:25px; border:1px solid #eee; position:relative; z-index:4;}
.petycja form .form-group .btn-bg{width:16px; height:16px; background: url('../img/icon_search_16x32.png') 0 0;background-color:transparent !important; position:relative; left:256px; top:5px; z-index:2}
/*.petycja .col-sm-5 {width:60%; float:left;}*/
.petycja form .col-xs-6, .petycja form .col-sm-11, .petycja form .col-xs-11{margin-left:20px;}
.petycja .form-control{background-color:rgb(247,247,247);}
/*--wyslij--*/
.petycja .form-group .col-sm-10 .btn-primary {
border-radius:5px;
background: -webkit-linear-gradient(top, rgb(240,136,3), rgb(233,89,26)); /* Chrome 10+, Saf5.1+ */
background:url('../img/icon_send_17x17.png'), -moz-linear-gradient(top, rgb(240,136,3), rgb(233,89,26)); /* FF3.6+ */
background: -ms-linear-gradient(top, rgb(240,136,3), rgb(233,89,26)); /* IE10 */
background: -o-linear-gradient(top, rgb(240,136,3), rgb(233,89,26)); /* Opera 11.10+ */
background:url('../img/icon_send_17x17.png') no-repeat 90% center, linear-gradient(to bottom, rgb(240,136,3), rgb(233,89,26)); /* W3C */
box-shadow:-0.5px 1px 1px 0px rgb(77,77,77); 
text-shadow:0px 1px 1px rgb(77,77,77);
font-size:15px; 
font-weight:bold;
padding-right: 40px;}
/*-----licznik--------*/
.petycja .licznik {width:35%; float:right; clear:right;}
/*-----osoba------*/
.petycja .table-top{width:60%;float:left;}
.petycja .table-top .alert {display:table;background:#fff; /*background-image: linear-gradient(to bottom, #fff 0%, rgb(251,251,251) 100%);*/}
.petycja .table-top .alert .row {display:table-row-group;}
.petycja .table-top .alert .row > * {display:table-column; width:20%; padding:5px;}

.petycja .table-top table {width:100%; 
background-image: linear-gradient(to top, rgb(250,250,250) 0%, rgb(254,254,254) 100%); 
border-right:1px solid rgb(233,233,233);
border-left:1px solid rgb(233,233,233);
text-transform:uppercase;}
.petycja .table-top .table {margin-bottom:0px;} 
.petycja .table-top .table td {padding:10px 0px; text-align:center; border:1px solid rgb(233,233,233);}
.petycja .table-top .top .row {width:30%;float:right;}
.petycja .table-top .top  {height:70px; 
background-image: url('../img/icon_people_26x31.png'), linear-gradient(to bottom, rgb(250,250,250) 0%, rgb(254,254,254) 100%); 
background-repeat:no-repeat, repeat;
background-position:75% 50%;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-top:1px solid rgb(233,233,233);
border-right:1px solid rgb(233,233,233);
border-left:1px solid rgb(233,233,233);}
.petycja .table-top .top span {color:rgb(37,127,239); font-size:32px; vertical-align:middle; padding-left:20px; line-height:70px;}
.petycja .table-top .top .ng-scope {width:60px; float:right; margin:0px 20px 0px 0px; position:relative; bottom:-26%;}
.petycja .searchBtns {position:absolute;top: 40px;right: -120%; background-color:#fff;z-index:5; border: 1px solid rgb(166,166,166); width:300px; border-radius:10px;box-shadow: -3px 3px 8px -5px #000;}
.petycja .searchBtns > * {width:90%; padding: 0px 0px 0px 0px; margin:0px auto 20px auto; float:none;}
.petycja .searchBtns .search-head {width: 100%;
line-height:35px;
background: rgb(247,247,247);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding-left: 15px;
color:rgb(37,127,239);
font-weight:bold;}
.petycja .searchBtns button {background-image:url(''); background-color:rgb(247,247,247) !important; border:0px; 
box-shadow:0px 1px 0px 0px rgb(220,220,220) inset; 
border-left: 1px solid rgb(220,220,220) !important; 
border-right: 1px solid rgb(220,220,220) !important; 
border-bottom: 1px solid rgb(220,220,220) !important; 
border-top:1px solid rgb(166,166,166) !important;
color:rgb(125,125,125) !important;
text-shadow:none;
text-transform:lowercase;
width:100%}
.petycja .searchBtns .caret {display:none;}
.petycja .searchBtns::after {content:""; width:0px; position:absolute; top:-7px; height:0px; right:120px;
border-bottom:8px solid #f7f7f7;
border-left:8px solid transparent;
border-right:8px solid transparent;
z-index:1;
}
.petycja .searchBtns::before {content:""; width:0px; position:absolute; top:-8px; height:0px; right:120px;
border-bottom:8px solid #A6A6A6;
border-left:8px solid transparent;
border-right:8px solid transparent;
z-index:1;
}
.petycja .toggle-search {background: none repeat scroll 0% 0% #FFF; width: 76px; height: 24px; position:relative;z-index:1;}
.petycja .toggle-search button {padding-top:0px;padding-bottom:0px; height:24px; float:right; 
background-color:transparent !important;
background-image:url('');
font-size:13px; font-weight:bold; 
text-shadow:none; 
color:#000;
padding-right:25px; 
border:1px solid #eee; 
z-index:2;
}
.petycja .toggle-search .btn-bg{width:16px; height:16px; background: url('../img/icon_search_16x32.png') 0 0;background-color:transparent !important; position:absolute; z-index:-1; position: absolute;right: 5px;top: 4px;}
.petycja .top div.col-sm-5::after, .petycja .top div.col-sm-4::after {
content:""; 
width:0px; 
position:absolute; 
top:15px; 
right:10px;
height:0px;
border-top:5px solid #000;
border-left:5px solid transparent;
border-right:5px solid transparent;}
/*
.petycja div.col-sm-5.open::after {
content:""; 
width:0px; 
position:absolute; 
top:0px; 
height:0px;
border-bottom:10px solid #000 !important;
border-left:10px solid transparent !important;
border-right:10px solid transparent; !important}
*/
.petycja .top li {float:left !important;}

.petycja .row .alert {margin-bottom:0px; border:0px; text-align:center;}
.petycja .row .alert .row .col-xs-8 label:nth-child(2) {display:block;}
.petycja .row .alert .lp {float:left;}
.petycja .col-xs-10.alert {padding:15px 0px; width:100%; border-radius:0px;}
any > .row {margin:0px; width:100%; 
border-bottom:1px solid #e9e9e9;
border-left:1px solid #e9e9e9;
border-right:1px solid #e9e9e9;}
.petycja .row .alert .row > div:nth-child(1), .table-top .table table td:nth-child(1){width:8%}
.petycja .row .alert .row > div:nth-child(2), .table-top .table table td:nth-child(2){width:33%}
.petycja .row .alert .row > div:nth-child(3), .table-top .table table td:nth-child(3){width:15%}
.petycja .row .alert .row > div:nth-child(4), .table-top .table table td:nth-child(4){width:22%}
.petycja .row .alert .row > div:nth-child(5), .table-top .table table td:nth-child(5){width:22%;}
.petycja .table-top any .col-xs-1 {display:none;}
.petycja .alert-success {background:transparent; box-shadow:none;}
.petycja .alert-success div.col-sm-4:nth-child(1) {width:100% !important; font-size:32px; color:rgb(37,127,239); text-align:left;}
.petycja .alert-success div.col-sm-5 {width:100% !important; text-align:left; line-height:40px;font-size:14px; color:#7d7d7d;}
.petycja .alert-success div.col-sm-5 .licz-petycje span:last-child{margin-right:15px}
.petycja .alert-success div.col-sm-5 .licz-petycje span {position:relative; line-height:32px; background:#f9f9f9; padding:0px 5px; border-radius:5px; font-size:18px;float:left; box-shadow:0px 1px 2px -1px #000, inset 1px 1px 2px 0px #fff; margin-right:5px; color:#000; font-weight:bold; font-size:18px}
.petycja .alert-success div.col-sm-5 .licz-petycje span::before {content:"";width:18px; height:1px; position:absolute; top:50%; background-color:#7d7d7d;left:1px; opacity:0.3;}


.col-xs-12 .uncheckedbtn {position:relative; padding:10px 0px; border:0px;
border-radius:5px;
    display:inline-block;
    width:90%;
    line-height:25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: linear-gradient(to bottom, #F08803, #E9591A) repeat scroll 0% 0% transparent;
    cursor:pointer;
	text-align:center;
	color:transparent;}
.col-xs-12 .checkedbtn {background: linear-gradient(to bottom, #f8c381, #f5ac8b) repeat scroll 0% 0% transparent;position:relative; padding:10px 0px; border:0px;
border-radius:5px;
    display:inline-block;
    width:90%;
    line-height:25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
	text-align:center;
	color:transparent;}
.col-xs-12 .checkedbtn::after {content:"Dodano"; position:relative; color:#fff;text-align:center;font-weight:bold;left:-2px;}
  .col-xs-12 .uncheckedbtn::after {content:"Dodaj do petycji";color:#fff;position:relative; text-align:center;font-weight:bold;left:-2px;}


 .col-xs-12 input[type="checkbox"] {
    /*display:none;*/
}
 .col-xs-12 input[type="checkbox"] + label {
 border-radius:5px;
    display:inline-block;
    width:90%;
    line-height:35px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: linear-gradient(to bottom, #F08803, #E9591A) repeat scroll 0% 0% transparent;
    cursor:pointer;
	text-align:center;
	color:#fff;
}
 .col-xs-12 input[type="checkbox"]:checked + label {
    background: linear-gradient(to bottom, #f8c381, #f5ac8b) repeat scroll 0% 0% transparent;
}
 .col-xs-12 input[type="checkbox"]:checked + label::after {content:"Dodano"; position:relative;}
  .col-xs-12 input[type="checkbox"] + label::after {content:"Dodaj do petycji";}

